* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

::-moz-selection {
    background-color: #47a3f3;
    color: #fefefe
}

::selection {
    background-color: #47a3f3;
    color: #fefefe
}

nav,
.scroll {
    padding: 0 4vw;
}



@font-face {
    font-family: 'wotfard';
    src: url('./wotfard.woff2') format('woff2');
}

main {
    display: flex;
    flex-direction: column;

}

main.top {
    height: 100vh;
}

main .scroll {
    border: 1px solid transparent;
    flex: 1;
    overflow: auto;
    max-width: 100vw;
}

body {
    font-family: 'wotfard', sans-serif;
    background: rgb(11, 7, 55);
    background: radial-gradient(circle, rgb(9 7 37) 0%, rgb(4 4 39) 36%, rgb(5 6 26) 100%);
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

a {
    color: white;
}


nav {
    display: flex;
    justify-content: end;
    height: 40px;
}


nav ul {
    display: flex;
    overflow: hidden;
    max-width: 100vw;
}

nav ul li {
    list-style-type: none;
    margin: 12px;
    display: flex;
    align-items: center;
}

nav ul li a {
    font-size: min(4vw, 16px);
    transition: all 300ms ease-in-out;
}

nav ul li a:hover {
    text-decoration: underline;
}

header {
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    /* margin: 124px 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 48px;
}

.special {
    color: #c26eff;
}


.scroll>section {
    padding: 60px 0;
}

section h2 {
    font-size: 53px;
    margin: 36px 0;
}

section#skills article h4 {
    margin: 8px 0;
    font-size: 18px;
}

section#skills article ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin: 20px -1em;
    font-family: "Epilogue", sans-serif;
}

section#skills article li {
    margin: 4px 0;
    font-size: 19px;
    margin-left: 2em;
}

#projects main {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}



article.project {
    padding: 4px 16px;
    border: 1px solid #303030;
    transition: all 300ms ease-in;
    margin-bottom: 12px;
}

article.project:hover {
    background-color: #ffffff08;
}

article.project h3.project-title {
    padding: 12px 0;
    font-size: 24px;
}

.project-content {
    display: flex;
}

.project-content img {
    width: 30%;
    height: auto;
    margin: 4px 0 18px 0;
    border-radius: 5px;
}

.project-content .project-details {
    padding: 4px 16px;
}

#projects p {
    font-size: 18px;
    line-height: 24px;
    font-family: "Epilogue", sans-serif;
}


.experience ul {
    margin-left: 1em;
    font-family: "Epilogue", sans-serif;
}

.experience-item h3 {
    padding: 21px 0;
    font-size: 24px;
    display: flex;
}

.experience-item .position-title {
    flex: 1;
    font-size: 24px;
}

.experience-item .job-duration {
    font-size: 21px;
}

.experience-item span {
    font-size: 17px;
}

.experience-content li {
    margin: 12px 0;
}

ul.experience-content span {
    font-size: 17px;
    line-height: 29px;
}


.contact-item {
    display: flex;
    align-items: center;
}

.contact-item .icon {
    margin-right: 1rem;
}

.underline {
    transition: all 300ms ease-in;
}

.underline:hover {
    text-decoration: underline;
}

nav,
.scroll {
    padding: 0 2vw;
}

@media only screen and (min-width: 600px) {

    nav,
    .scroll {
        padding: 0 15vw;
    }
}

@media only screen and (max-width: 1200px) {
    #projects main {
        height: auto;
        flex-direction: column;
    }

}


@media only screen and (max-width: 400px) {
    header h1 {
        font-size: 8vw;
    }

}